<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" guice-stage="DEVELOPMENT">
<listeners>
	<listener class-name="com.bpci.utilities.Listeners"/>
</listeners>
  <test thread-count="5" name="Default test" verbose="2">
    <classes>
      <class name="com.bpci.testCases.TC001_Get_ActiveAdmissionCount"/>
      
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->